In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0]

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [4]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [5]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-5-63a21a726720>, line 3)

In [6]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello, world!")

Hello, world!

In [8]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

In [9]:
# Integer

11

11

In [10]:
# Float

2.14

2.14

In [11]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [12]:
# Type of 12

type(12)

int

In [13]:
# Type of 2.14

type(2.14)

float

In [14]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [15]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [16]:
# Print the type of -1

type(-1)

int

In [17]:
# Print the type of 4

type(4)

int

In [18]:
# Print the type of 0

type(0)

int

In [19]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [20]:
# Print the type of 0.5

type(0.5)

float

In [21]:
# Print the type of 0.56

type(0.56)

float

In [22]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [23]:
# Verify that this is an integer

type(2)

int

In [24]:
# Convert 2 to a float

float(2)

2.0

In [25]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [26]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [27]:
# Convert a string into an integer

int('1')

1

In [28]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [29]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [30]:
# Convert an integer to a string

str(1)

'1'

In [31]:
# Convert a float to a string

str(1.2)

'1.2'

In [32]:
# Value true

True

True

In [33]:
# Value false

False

False

In [34]:
# Type of True

type(True)

bool

In [35]:
# Type of False

type(False)

bool

In [36]:
# Convert True to int

int(True)

1

In [37]:
# Convert 1 to boolean

bool(1)

True

In [38]:
# Convert 0 to boolean

bool(0)

False

In [39]:
# Convert True to float

float(True)

1.0

In [40]:
Click here for the solution
type(6/2) # float

SyntaxError: invalid syntax (<ipython-input-40-5419e7d4e435>, line 1)

In [41]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2) # float

float

In [42]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2) # int, as the double slashes stand for integer division

int

In [43]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

In [44]:
160//60

2

In [45]:
# Mathematical expression

30 + 2 * 60

150

In [46]:
# Mathematical expression

(30 + 2) * 60

1920

In [47]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [48]:
# Print out the value in variable

x

160

In [49]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [50]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [51]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [52]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [53]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [54]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2

In [55]:
x

7

In [56]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2

In [57]:
y

10

In [58]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y?

In [59]:
z = x + y
z

17