In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string

print("hello!")

hello!

In [6]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [7]:
# Print the first element in the string

print(name[0])

M

In [8]:
# Print the element on index 6 in the string

print(name[6])

l

In [9]:
# Print the element on the 13th index in the string

print(name[13])

o

In [10]:
# Print the last element in the string

print(name[-1])

n

In [11]:
# Print the first element in the string

print(name[-15])

M

In [12]:
# Find the length of string

len("Michael Jackson")

15

In [1]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

NameError: name 'name' is not defined

In [2]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [3]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [4]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [5]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [6]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [7]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [8]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [9]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [10]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [11]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [12]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [13]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [14]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [15]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [16]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [17]:
# Find the substring in the string.

name.find('Jack')

8

In [18]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [19]:
# Write your code below and press Shift+Enter to execute 

a = "1"

In [20]:
# Write your code below and press Shift+Enter to execute

b = "2"

In [21]:
# Write your code below and press Shift+Enter to execute 

c = a + b

In [22]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"

In [23]:
print(d[:3]) 

# or 

print(d[0:3])

ABC
ABC

In [24]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'

In [25]:
print(e[::2])

correct

In [27]:
print("\\\\")

\\

In [28]:
print(r"\ ")

\

In [29]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"

In [30]:
f.upper()

'YOU ARE WRONG'

In [31]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [32]:
g.find(0)

TypeError: must be str, not int

In [33]:
g.find("snow")

95

In [34]:
g.replace("Mary"."Bob")

SyntaxError: invalid syntax (<ipython-input-34-2194e69d8bda>, line 1)

In [35]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'